In [ ]:
a=10
b=20
c=b/a
d=a*b
print(c)
print(d)

2.0
200

In [ ]:
#indentifiers
#keywords
#opertaors
1 Arithmetic +,-.*,/,**,//,%
2 relational ==,+=,-=,......
3 logical and,or,not
4 membership in, not in
5 bitwise &,|,^,~,<<,>>
6 assignment is,is not


Data types:
@Numeric: int,float,complex
sequences:
string(str):immutable collection of characters '' ," ",''' '''
list:mutable & unstructured collection of heterogenous elements []
tuple:immutable same as above{}

#Mapping
{} dict: mutable &structured collection of keyvalue pairs
#set 
{} set:unordered collection of unique items

Boolean 
#bool :True False      anything non zero or non empty is true
empty data
NoneType :None

#Data Operatiions(collections)
#1.Item Accessing (Indexing,slicing,subscrpiting)
#2.Iyem insertion
#3.Item Assignment (with mutable only)
#4.Item Deletion(with mutable only)
from keyword import kwlist
#Datatype built in func
#str upper,lower,find,split,strip,join,format,count
#list:append,sort,count,copy,insert,reomve,index,pop
#tuple:count,index
#dict:keys,values,update,get,pop
#set:add,difference,union,pop,remove
kwlist

help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
slicing s[start:stop(not included):stepsize]

In [ ]:
t=[4,6,'hi','go']
type(t)

list

In [ ]:
MUTABLE and IMMUTABLE
VARIABLE and CONSTANT -----not in python

In [ ]:
from keyword import kwlist
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
s='A sample python statement'
s

'A sample python statement'

In [ ]:
s[0]

'A'

In [ ]:
s[5]

'p'

In [ ]:
s[len(s)-1]

't'

In [ ]:
s(-1)

TypeError: 'str' object is not callable

In [ ]:
s[-1]

't'

In [ ]:
s[:8]

'A sample'

In [ ]:
s[-9:]

'statement'

In [ ]:
s[-10:]

' statement'

In [ ]:
s[-1:-10:-1]

'tnemetats'

In [ ]:
len(s)

25

In [ ]:
s[::-1]

'tnemetats nohtyp elpmas A'

In [ ]:
tuple to list
t=list(t)
t

[4, 6, 'hi', 'go']

In [ ]:
t[:3]

[4, 6, 'hi']

In [ ]:
nested 
t[2][0]

'h'

In [21]:
d={'a':34,'b':45,'c':[3,4,5,6]}

In [22]:
d['c'][2]

5

In [24]:
d1=[{'a':34},66,{'66':[{'00':[98,'hi']},'awesome',{'m':'n'}]}]

In [25]:
d1[1]

66

In [26]:
d1[2]['66'][1][1]

'w'

In [2]:
s='468hi3.4'
a=[4,6,8,'hi',3.4]
b=(4,6,8,'hi',3.4)
c={4:6,8:['hi',3.4]}
d={4,6,8,'hi',3.4}

In [39]:
#s[0]='A' string does not a;llow assignment
a[0]='A'

In [3]:
type(s),type(a),type(b),type(c),type(d)

(str, list, tuple, dict, set)

In [4]:
'hi'+'hello'

'hihello'

In [5]:
[4,5]+[3,6]

[4, 5, 3, 6]

In [7]:
(4,5)+(3,6)

(4, 5, 3, 6)

In [21]:
#{3:4}+{4:6} #will not work for dictionary and set

In [9]:
'hi'*3

'hihihi'

In [11]:
s+='k' #new assignment of s so thats why s updated being immutable

In [12]:
s

'468hi3.4k'

In [14]:
s[:3]

'468'

In [15]:
s[3:]

''

In [16]:
s=s[:3]+'jobhiaapchahein'+s[3:]
s

'468jobhiaapchahein'

In [20]:
a+=['bye']

In [21]:
a

[4, 6, 8, 'hi', 3.4, 'b', 'y', 'e', 39, 8, 'hi', 3.4, 'b', 'y', 'e', 'bye']

In [22]:
a=a[:20]+[39]+a[2:]
a

[4,
 6,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'e',
 39,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'e',
 'bye',
 39,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'e',
 39,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'e',
 'bye']

In [25]:
b+=('bye',)
b

(4, 6, 8, 'hi', 3.4, 'bye')

In [29]:
b=b[:3]+(39,)+b[3:]
b

(4, 6, 8, 39, 'hi', 3.4, 'bye')

In [30]:
(*b,*b)

(4, 6, 8, 39, 'hi', 3.4, 'bye', 4, 6, 8, 39, 'hi', 3.4, 'bye')

In [31]:
(*a,*b) #can add list and tuple together

(4,
 6,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'e',
 39,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'e',
 'bye',
 39,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'e',
 39,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'e',
 'bye',
 4,
 6,
 8,
 39,
 'hi',
 3.4,
 'bye')

In [32]:
(*a,*b,*s)

(4,
 6,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'e',
 39,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'e',
 'bye',
 39,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'e',
 39,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'e',
 'bye',
 4,
 6,
 8,
 39,
 'hi',
 3.4,
 'bye',
 '4',
 '6',
 '8',
 'j',
 'o',
 'b',
 'h',
 'i',
 'a',
 'a',
 'p',
 'c',
 'h',
 'a',
 'h',
 'e',
 'i',
 'n')

In [33]:
#args and kwargs

In [34]:
c['type']='int'
c

{4: 6, 8: ['hi', 3.4], 'type': 'int'}

In [36]:
c2={'a':45,'b':35}
print(c)
print(c2)

{4: 6, 8: ['hi', 3.4], 'type': 'int'}
{'a': 45, 'b': 35}

In [37]:
 {**c,**c2}  #concatenate two dictonaries

{4: 6, 8: ['hi', 3.4], 'type': 'int', 'a': 45, 'b': 35}

In [40]:
#itemdeletion
# del s[0] #not possible
# del a[0] #done
#del  b[0] not possible
#del c[0]done

In [41]:
bool('False')

True

In [42]:
bool('')

False

In [ ]:
#a.inpalce functions
#b.non inplace functions

In [2]:
a=34
b=34.5
c=34+5j
d='hello'
e=[3,4,5]
f=(3,4,5)
g={3:[4,5]}
h={3,4,5}

In [3]:
d1=d.upper()

In [4]:
d

'hello'

In [5]:
d2=d.lower()

In [7]:
d.lower()

'hello'

In [8]:
d.strip('ohl')

'e'

In [9]:
'-'.join('wars')

'w-a-r-s'

In [10]:
'#'.join('hi this is a new string'.split())

'hi#this#is#a#new#string'

In [11]:
'hi this is a new string'.replace(' ','#')

'hi#this#is#a#new#string'

In [13]:
d.count('l')

2

In [14]:
x=20
y=30
#z='Ek aisa data jo 20 to 30 hai'
z='Ek aisa data jo %d to %d hai'%(x,y) #using format specifier
z

'Ek aisa data jo 20 to 30 hai'

In [16]:
#using format function
z= 'Ek aisa data jo {} to {} hai'
z=z.format(x,y)
z

'Ek aisa data jo 20 to 30 hai'

In [19]:
z1='Ek aisa data jo {0} to {1} hai lekin {0} hi kaafi hai'
z1=z1.format(x,y)
z1

'Ek aisa data jo 20 to 30 hai lekin 20 hi kaafi hai'

In [20]:
#using f-string
zf=f'Ek aisa data jo {x} to {y} hai lekin {x} hi kaafi hai'
zf

'Ek aisa data jo 20 to 30 hai lekin 20 hi kaafi hai'

In [24]:
e.append('somedata')

In [23]:
e

[3, 4, 5, 45]

In [27]:
e.remove('somedata')

In [28]:
e.sort()
e

[3, 4, 5, 45]

In [29]:
e.sort(reverse=True)
e

[45, 5, 4, 3]

In [30]:
e1=['hi','wow','good','yes','awesome']

In [31]:
e1.sort(key=len,reverse=True)

In [32]:
e1

['awesome', 'good', 'wow', 'yes', 'hi']

In [33]:
f

(3, 4, 5)

In [36]:
f1=list(f)
f1.sort(reverse=True)
f1=tuple(f1)
f1

(5, 4, 3)

In [37]:
tuple(sorted(f,reverse=True))

(5, 4, 3)

In [38]:
e

[45, 5, 4, 3]

In [39]:
k=e.pop()

In [40]:
k

3

In [41]:
e

[45, 5, 4]

In [42]:
g['a']=44
g

{3: [4, 5], 'a': 44}

In [44]:
list(g.keys())[0]

3

In [46]:
g.get('Z','Oh No')

'Oh No'

In [47]:
help(e.copy)
#deep copy vs shallow copy

Help on built-in function copy:

copy() method of builtins.list instance
    Return a shallow copy of the list.

In [49]:
e4=e.copy()
e4.append(8)
e4

[45, 5, 4, 8]